<div class="relative select-none">
  <div class="w-full rounded-xl overflow-hidden bg-black" [class]="heightClass">
    <ng-container *ngIf="allLoaded; else loadingTpl">
      <swiper-container
        class="project-swiper rounded-xl overflow-hidden"
        [config]="{slidesPerView: 1, navigation: true, pagination: { clickable: true }, effect: 'fade', fadeEffect: { crossFade: true } }">
        <swiper-slide *ngFor="let item of images">
          <div class="w-full h-full flex items-center justify-center bg-black rounded-xl overflow-hidden">
            <img [src]="item.url" [alt]="alt" class="w-full h-full object-cover rounded-xl" />
          </div>
        </swiper-slide>
      </swiper-container>
    </ng-container>
    <ng-template #loadingTpl>
      <div class="h-full grid place-items-center text-gray-400 text-sm animate-pulse">Loading images…</div>
    </ng-template>
  </div>
</div>

